@import url('https://fonts.googleapis.com/css2?family=Poppins');

$app_title_color: #3A8CED;
$input_box_border_color: #ccc;
$button_background_color: #3A8CED;
$button_text_color: #ccc;
$universal_font: 'Poppins', sans-serif;